# Ignore Files that is not necessary on the repo for Tray.IO Codes

# misc
.DS_Store
.AppleDouble
.LSOverride

# Tray CDK
dist
node_modules
node_modules
.DS_Store
**/src/**/input.json
**/src/**/output.json